TURSO_DATABASE_URL = "libsql://NOME-DATABASE-NOME-UTENTE.turso.io"
TURSO_AUTH_TOKEN = "token_turso"
ADMIN_EMAIL = "tua-email@example.com"
APP_URL = "https://lemiemedicine.streamlit.app"
MAIL_BRIDGE_URL = "https://script.google.com/macros/s/ID_DEPLOYMENT/exec"
MAIL_BRIDGE_SECRET = "genera-una-stringa-casuale-di-almeno-32-caratteri"
